@using Microsoft.AspNetCore.Identity
@using EShop.Data.Entities

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <link rel="stylesheet" asp-href-include="~/lib/bootstrap-3.3.7-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" asp-href-include="~/css/site.css" />
    <link rel="stylesheet" asp-href-include="~/css/sol.css" />
    <link rel="stylesheet" asp-href-include="~/lib/jquery-ui-1.12.1.custom/jquery-ui.min.css" />
    <link rel="stylesheet" asp-href-include="~/lib/jquery-ui-1.12.1.custom/jquery-ui.theme.min.css" />
    <link rel="stylesheet" asp-href-include="~/lib/jquery-ui-1.12.1.custom/jquery-ui.structure.min.css" />
    <link rel="stylesheet" type="text/css" href="~/lib/jqChart/css/jquery.jqChart.css" />
    <link rel="stylesheet" type="text/css" href="~/lib/jqChart/css/jquery.jqRangeSlider.css" />
    <link rel="stylesheet" href="~/lib/sweet-notifications-master/notify.css">

    <script src="~/js/Site.js"></script>
    <script src="~/lib/sweet-notifications-master/notify.js"></script>
    <script type="text/javascript" src="~/lib/jquery/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="~/js/sol.js"></script>
    <script type="text/javascript" src="~/lib/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
    <script type="text/javascript" src="~/lib/jqChart/js/jquery.jqChart.min.js"></script>


    <title>@ViewBag.Title</title>
</head>
<body class="col-md-10 col-md-offset-1">
    <div class="navbar navbar-inverse" role="navigation">
        <a class="navbar-brand" asp-controller="Dashboard" asp-action="Index">E-SHOP</a>
        <ul class="nav navbar-nav">
            @if (SignInManager.IsSignedIn(User))
            {
                <li><a asp-controller="Product" asp-action="Index">Products</a></li>
                <li><a asp-controller="Category" asp-action="Index">Categories</a></li>
                <li><a asp-controller="Catalog" asp-action="Index">Catalog</a></li>
                <li><a asp-controller="Dashboard" asp-action="Index">Dashboard</a></li>
                <li><a asp-controller="Order" asp-action="Index">Orders</a></li>
                <li><a asp-controller="Admin" asp-action="Index">Users</a></li>
            }
        </ul>
            @await Html.PartialAsync("_LoginPartial")
        </div>
        @RenderBody()
    </body>
</html>
