<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/lib/bootstrap-3.3.7-dist/css/bootstrap.min.css" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="navbar navbar-inverse" role="navigation">
        <a class="navbar-brand" href="#">E-SHOP</a>
    </div>
    <div class="row panel">
        <div id="categories" class="col-xs-3">
            Place Holder
        </div>
    </div>
    @RenderBody()
</body>
</html>
