<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <link rel="stylesheet" asp-href-include="~/lib/bootstrap-3.3.7-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" asp-href-include="~/css/site.css" />
    <link rel="stylesheet" asp-href-include="~/css/sol.css" />
    <link rel="stylesheet" asp-href-include="~/lib/jquery-ui-1.12.1.custom/jquery-ui.min.css" />
    <link rel="stylesheet" asp-href-include="~/lib/jquery-ui-1.12.1.custom/jquery-ui.theme.min.css" />
    <link rel="stylesheet" asp-href-include="~/lib/jquery-ui-1.12.1.custom/jquery-ui.structure.min.css" />

    <script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
    <script src="https://www.amcharts.com/lib/3/pie.js"></script>
    <script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
    <script src="https://www.amcharts.com/lib/3/themes/none.js"></script>

    <script type="text/javascript" src="~/lib/jquery/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="~/js/sol.js"></script>
    <script type="text/javascript" src="~/lib/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>


    <title>@ViewBag.Title</title>
</head>
<body class="col-md-10 col-md-offset-1">
    <div class="navbar navbar-inverse" role="navigation">
        <a class="navbar-brand" href="#">E-SHOP</a>
        <ul class="nav navbar-nav">
            <li><a asp-controller="Product" asp-action="Index">Products</a></li>
            <li><a asp-controller="Category" asp-action="Index">Categories</a></li>
            <li><a asp-controller="Catalog" asp-action="Index">Catalog</a></li>
            <li><a asp-controller="Dashboard" asp-action="Index">Dashboard</a></li>
        </ul>
    </div>
    @RenderBody()
</body>
</html>
