<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" asp-href-include="~/lib/bootstrap-3.3.7-dist/css/bootstrap.min.css" />
    <title>@ViewBag.Title</title>
</head>
<body class="col-md-10 col-md-offset-1">
    <div class="navbar navbar-inverse" role="navigation">
        <a class="navbar-brand" href="#">E-SHOP</a>
    </div>
    <div class="navbar-left col-md-2">
        <div id="categories">
            Place Holder
        </div>
    </div>
    <div class="col-md-8">
        @RenderBody()
    </div>
</body>
</html>
