<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" asp-href-include="~/lib/bootstrap-3.3.7-dist/css/bootstrap.min.css" />
    <title>@ViewBag.Title</title>
</head>
<body class="col-md-10 col-md-offset-1">
    @RenderBody()
</body>
</html>
