<mat-form-field>
  <mat-select (selectionChange)="customerChange($event.value)" placeholder="Customer">
    <mat-option *ngFor="let customer of existCustomers" [value]="customer">
      {{customer.firstName}}
    </mat-option>
  </mat-select>
</mat-form-field>

<form class="form" *ngIf="myForm" [formGroup]="myForm" (ngSubmit)="onSubmit()">
  <mat-form-field class="input-full-width">
    <mat-label>First name</mat-label>
    <input matInput [formControl]="firstName" (change)="order.customer.firstName = $event.target.value" maxlength="20" placeholder="Provide fist name" required>
    <mat-hint align="end">{{firstName.value.length}} / 20</mat-hint>
    <mat-error *ngIf="firstName.errors?.required">This field is required</mat-error>
    <mat-error *ngIf="firstName.errors?.minlength">Minimum 2 characters</mat-error>
  </mat-form-field>

  <mat-form-field class="input-full-width">
    <mat-label>Last name</mat-label>
    <input matInput [formControl]="lastName" (change)="order.customer.lastName = $event.target.value" maxlength="20" placeholder="Provide last name" required>
    <mat-hint align="end">{{lastName.value.length}} / 20</mat-hint>
    <mat-error *ngIf="lastName.errors?.required">This field is required</mat-error>
    <mat-error *ngIf="lastName.errors?.minlength">Minimum 2 characters</mat-error>
  </mat-form-field>

  <mat-form-field class="input-full-width">
    <mat-label>Patronymic</mat-label>
    <input matInput [formControl]="patronymic" (change)="order.customer.patronymic = $event.target.value" maxlength="20" placeholder="Provide patronymic" required>
    <mat-hint align="end">{{patronymic.value.length}} / 20</mat-hint>
    <mat-error *ngIf="patronymic.errors?.required">This field is required</mat-error>
    <mat-error *ngIf="patronymic.errors?.minlength">Minimum 2 characters</mat-error>
  </mat-form-field>

  <mat-form-field class="input-full-width">
    <mat-label>Phone</mat-label>
    <input matInput [formControl]="phone" type="tel" (change)="order.customer.phone = $event.target.value" maxlength="10" placeholder="Provide phone" required>
    <mat-hint align="end">Example: 80445512233</mat-hint>
    <mat-error *ngIf="phone.errors?.required">This field is required</mat-error>
    <mat-error *ngIf="phone.errors?.pattern">This incorrect phone number</mat-error>
  </mat-form-field>

  <mat-form-field class="input-full-width">
    <mat-label>Address</mat-label>
    <input matInput [formControl]="address" (change)="order.customer.address = $event.target.value" maxlength="20" placeholder="Provide address" required>
    <mat-hint align="end">{{address.value.length}} / 50</mat-hint>
    <mat-error *ngIf="address.errors?.required">This field is required</mat-error>
    <mat-error *ngIf="address.errors?.minlength">Minimum 10 characters</mat-error>
  </mat-form-field>

  <mat-form-field class="input-full-width">
    <mat-label>Comment</mat-label>
    <textarea matInput [formControl]="comment" (input)="order.comment = $event.target.value" maxlength="50" placeholder="Provide comment"></textarea>
    <mat-hint align="end">{{comment.value.length}} / 50</mat-hint>
    <mat-error *ngIf="comment.errors?.required">This field is required</mat-error>
    <mat-error *ngIf="comment.errors?.minlength">Minimum 10 characters</mat-error>
  </mat-form-field>

  <mat-form-field class="select-width">
    <mat-select [formControl]="payment" (selectionChange)="order.paymentMethodId = $event.value.paymentMethodId" placeholder="Provide payment method" required>
      <mat-option *ngFor="let payment of existPayments" [value]="payment">
        {{payment.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="select-width">
    <mat-select [formControl]="delivery" (selectionChange)="onDeliveryChange()" placeholder="Provide delivery method" required>
      <mat-option *ngFor="let delivery of existDeliveries" [value]="delivery">
        {{delivery.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="select-width">
    <mat-select [formControl]="pickup" (selectionChange)="order.pickupPointId = $event.value.pickupPointId" placeholder="Provide pickup point" required>
      <mat-option *ngFor="let pickup of existPickups" [value]="pickup">
        {{pickup.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button type="submit" mat-flat-button [disabled]="!myForm.valid" color="primary">Submit</button>
  <a mat-flat-button color="basic" routerLink="/orders">Back</a>
</form>