<form class="form" *ngIf="myForm" [formGroup]="myForm" (ngSubmit)="onSubmit(myForm.value)">
    <mat-form-field class="input-full-width">
        <mat-label>Category name</mat-label>
        <input matInput [formControl]="name" maxlength="50" placeholder="Provide category name" required>
        <mat-hint align="end">{{name.value.length}} / 50</mat-hint>
        <mat-error *ngIf="name.errors?.required">This field is required</mat-error>
        <mat-error *ngIf="name.errors?.minlength">Minimum 2 characters</mat-error>
    </mat-form-field>

    <mat-form-field class="input-full-width">
        <mat-select matInput placeholder="Parent category" [formControl]="parentId" required>
          <mat-option>--</mat-option>
          <mat-option *ngFor="let category of existCategories" [value]="category.categoryId">
            {{category.name}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="parentId.hasError('required')">Please choose parent category</mat-error>
      </mat-form-field>
        <button type="submit" mat-flat-button [disabled]="!myForm.valid" color="primary">Submit</button>
        <a mat-flat-button color="basic" routerLink="/categories">Back</a>
</form>