<div class="ui container">
  <h3 class="ui header">Create user</h3>

  <form class="form" *ngIf="myForm" [formGroup]="myForm" (ngSubmit)="onSubmit(myForm.value)">
    <div *ngIf="errors" class="ui bottom attached warning message">
      <div class="header">
        <i class="icon exclamation"></i>
        Errors:
      </div>
      <ul>
        <li *ngFor="let e of errors">{{e}}</li>
      </ul>
    </div>
    
    <mat-form-field class="input-full-width">
      <mat-label>Username</mat-label>
      <input matInput [formControl]="userName" maxlength="20" placeholder="Provide Username" required>
      <mat-hint align="end">{{userName.value.length}} / 20</mat-hint>
      <mat-error *ngIf="userName.errors?.required">This field is required</mat-error>
      <mat-error *ngIf="userName.errors?.minlength">Minimum 3 characters</mat-error>
    </mat-form-field>

    <mat-form-field class="input-full-width">
      <mat-label>Email</mat-label>
      <input matInput [formControl]="email" placeholder="Provide email" required>
      <mat-error *ngIf="email.errors?.required">This field is required</mat-error>
      <mat-error *ngIf="email.errors?.email">Wrong email format</mat-error>
    </mat-form-field>

    <mat-form-field class="input-full-width">
      <mat-label>Password</mat-label>
      <input matInput [formControl]="password" placeholder="Provide password" [type]="hide ? 'password' : 'text'"
        required>
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      <mat-error *ngIf="password.errors?.required">This field is required</mat-error>
      <mat-error *ngIf="password.errors?.minlength">Password must be at least 8 characters long</mat-error>
    </mat-form-field>

    <button type="submit" mat-flat-button [disabled]="!myForm.valid" color="primary">Submit</button>
    <a mat-flat-button color="basic" routerLink="/users">Back</a>
  </form>
</div>