table {
    width: 100%;
}
  
.mat-form-field {
    font-size: 14px;
    width: 100%;
    padding: 5px;
}

.mat-column-actions {
    width: 15%;
}

.actions {
    float: right; 
    display: inline-flex;
}

th.mat-sort-header-sorted {
    color: black;
}
