@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Dashboard</h2>
<div>
    <div class="row">
        <div class="col-lg-4" id="categories-chart" style="width: 500px; height: 300px;"></div>
        <div class="col-lg-4" id="top-selling-products" style="width: 500px; height: 300px;"></div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-8" id="selling-timeline" style="width: 1000px; height: 400px;"></div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#top-selling-products').jqChart({
            title: { text: 'Top selling Products' },
            legend: { title: 'Product' },
            border: {
                visible: false
            },
            dataSource: {
                ajax: {
                    type: "GET",
                    url: "/Order/GetConfirmedProducts/",
                    data: "",
                    dataType: 'json'
                }
            },
            shadows: {
                enabled: true
            },
            series: [
                {
                    type: 'pie',
                    labels: {
                        stringFormat: '%.1f%%',
                        valueType: 'percentage',
                        font: '15px sans-serif',
                        fillStyle: 'white'
                    },
                    explodedRadius: 10,
                    dataLabelsField: 'name',
                    dataValuesField: 'count',
                    explodedField: 'exploded'
                }
            ]
        });
        $('#categories-chart').jqChart({
            title: { text: 'Count of Products' },
            legend: { title: 'Categories' },
            border: {
                visible: false
            },
            dataSource: {
                ajax: {
                    type: "GET",
                    url: "/Category/CategoryWithCountOfProducts/",
                    data: "",
                    dataType: 'json'
                }
            },
            shadows: {
                enabled: true
            },
            series: [
                {
                    type: 'pie',
                    labels: {
                        stringFormat: '%.1f%%',
                        valueType: 'percentage',
                        font: '15px sans-serif',
                        fillStyle: 'white'
                    },
                    explodedRadius: 10,
                    dataLabelsField: 'name',
                    dataValuesField: 'count',
                    explodedField: 'exploded'
                }
            ]
        });
    });


    $.getJSON("/Dashboard/Line", function (data) {


        drawLineChart(data);
        //var b = [];
        //b[0] = { "date": new Date(2018, 5, 1).toLocaleDateString(), "count": 5 };

        //drawLineChart(b);
        
    });

    function drawLineChart(chartData) {
            $('#selling-timeline').jqChart({
            title: { text: 'Orders' },
            tooltips: { type: 'shared' },
            animation: { duration: 1 },
            border: {
                visible: true,
                padding: 20,
                lineWidth: 0
            },
            axes: [
                {
                    location: 'bottom',
                    type: 'dateTime',
                    labels: {
                        stringFormat: 'dd/mm/yy'
                    },
                    interval: 1,
                    intervalType: 'days'
                }
            ],
            series: [
                {
                    type: 'line',
                    title: 'New',
                    strokeStyle: '#418CF0',
                    lineWidth: 2,
                    data: chartData.new,
                    xValuesField: {
                        name: 'date',
                        type: 'dateTime' // string, numeric, dateTime
                    },
                    yValuesField:
                    {
                        name: 'count',
                        type: 'numeric'
                    }
                },
                {
                    type: 'line',
                    title: 'Confirmed',
                    strokeStyle: '#418CF0',
                    lineWidth: 2,
                    data: chartData.confirmed,
                    xValuesField: {
                        name: 'date',
                        type: 'dateTime' // string, numeric, dateTime
                    },
                    yValuesField:
                    {
                        name: 'count',
                        type: 'numeric'
                    }
                }
            ]
        });
    }
</script>
