
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Dashboard</h2>
<!-- Chart code -->
<div id="chartdiv"></div>
<script>
    var chartData;
    $.ajax({
        type: "Get",
        url: "Product/ChartData/",
        success: function (response) {
            chartData = response;
            AmCharts.makeChart("chartdiv", {
                "type": "pie",
                "theme": "dark",
                "dataProvider": chartData,
                "valueField": "count",
                "titleField": "name",
                "balloon": {
                    "fixedPosition": true
                },
                "export": {
                    "enabled": true
                }
            });
        }
    });
    
</script>