@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Dashboard</h2>
<div>
    <div class="row">
        <div class="col-lg-4" id="categories-chart" style="width: 500px; height: 300px;"></div>
        <div class="col-lg-4" id="top-selling-products" style="width: 500px; height: 300px;"></div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-8" id="selling-timeline" style="width: 1000px; height: 400px;"></div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#top-selling-products').jqChart({
            title: { text: 'Top selling Products' },
            legend: { title: 'Product' },
            border: {
                visible: false
            },
            dataSource: {
                ajax: {
                    type: "GET",
                    url: "/Order/GetConfirmedProducts/",
                    data: "",
                    dataType: 'json'
                }
            },
            shadows: {
                enabled: true
            },
            series: [
                {
                    type: 'pie',
                    labels: {
                        stringFormat: '%.1f%%',
                        valueType: 'percentage',
                        font: '15px sans-serif',
                        fillStyle: 'white'
                    },
                    explodedRadius: 10,
                    dataLabelsField: 'name',
                    dataValuesField: 'count',
                    explodedField: 'exploded'
                }
            ]
        });
        $('#categories-chart').jqChart({
            title: { text: 'Count of Products' },
            legend: { title: 'Categories' },
            border: {
                visible: false
            },
            dataSource: {
                ajax: {
                    type: "GET",
                    url: "/Category/CategoryWithCountOfProducts/",
                    data: "",
                    dataType: 'json'
                }
            },
            shadows: {
                enabled: true
            },
            series: [
                {
                    type: 'pie',
                    labels: {
                        stringFormat: '%.1f%%',
                        valueType: 'percentage',
                        font: '15px sans-serif',
                        fillStyle: 'white'
                    },
                    explodedRadius: 10,
                    dataLabelsField: 'name',
                    dataValuesField: 'count',
                    explodedField: 'exploded'
                }
            ]
        });
    });


    $.getJSON("/Dashboard/Line", function (data) {

        data.new = data.new.map(function (arg) {
            return [arg.date, arg.count];
        });
        data.confirmed = data.confirmed.map(function (arg) {
            return [arg.date, arg.count];
        });
        data.paid = data.paid.map(function (arg) {
            return [arg.date, arg.count];
        });
        data.completed = data.completed.map(function (arg) {
            return [arg.date, arg.count];
        });
        drawLineChart(data);
    });

    function drawLineChart(chartData) {
            $('#selling-timeline').jqChart({
                title: 'Chart Title',
                legend: { title: 'Legend' },
                border: { strokeStyle: '#6ba851' },
                animation: { duration: 0.5 },
                tooltips: { type: 'shared' },
                axes: [
                    {
                        name: 'date',
                        location: 'bottom',
                        type: 'dateTime',
                        intervalType: "days",
                        visible: true,
                        interval: 1,
                        labels: {
                            stringFormat: 'mm/dd/yy'
                        },
                        skipEmptyDays: true
                    },
                    {
                        name: 'count',
                        location: 'left',
                        type: 'numeric',
                        interval: 1
                    }
                ],
                crosshairs: {
                    enabled: true,
                    hLine: { strokeStyle: '#cc0a0c' },
                    vLine: { strokeStyle: '#cc0a0c' }
                },
                series: [
                    {
                        type: 'line',
                        title: 'New',
                        lineWidth: 2,
                        data: chartData.new,
                        axisX: 'date',
                        axisY: 'count',
                        yValuesType: 'numeric',
                        xValuesType: 'dateTime'
                    },
                    {
                        type: 'line',
                        title: 'Confirmed',
                        lineWidth: 2,
                        data: chartData.confirmed,
                        axisX: 'date',
                        axisY: 'count',
                        yValuesType: 'numeric',
                        xValuesType: 'dateTime'
                    },
                    {
                        type: 'line',
                        title: 'Paid',
                        lineWidth: 2,
                        data: chartData.paid,
                        axisX: 'date',
                        axisY: 'count',
                        yValuesType: 'numeric',
                        xValuesType: 'dateTime'
                    },
                    {
                        type: 'line',
                        title: 'Completed',
                        lineWidth: 2,
                        data: chartData.completed,
                        axisX: 'date',
                        axisY: 'count',
                        yValuesType: 'numeric',
                        xValuesType: 'dateTime'
                    }
                ]
        });
    }
</script>
