@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Dashboard</h2>

<div class="col-md-4" id="categories-chart" style="width: 500px; height: 300px;"></div>
<div class="col-md-4" id="top-selling-products" style="width: 500px; height: 300px;"></div>
<div class="col-md-4" id="selling-timeline" style="width: 500px; height: 300px;"></div>

<script>
    $(document).ready(function () {
        $('#selling-timeline').jqChart({
            title: { text: 'Top selling Products' },
            legend: { title: 'Product' },
            dataSource: {
                ajax: {
                    type: "GET",
                    url: "/Order/GetConfirmedProducts/",
                    data: "",
                    dataType: 'json'
                }
            },
            shadows: {
                enabled: true
            },
            series: [
                {
                    type: 'pie',
                    labels: {
                        stringFormat: '%.1f%%',
                        valueType: 'percentage',
                        font: '15px sans-serif',
                        fillStyle: 'white'
                    },
                    explodedRadius: 10,
                    dataLabelsField: 'name',
                    dataValuesField: 'count',
                    explodedField: 'exploded'
                }
            ]
        });
        $('#top-selling-products').jqChart({
            title: { text: 'Top selling Products' },
            legend: { title: 'Product' },
            dataSource: {
                ajax: {
                    type: "GET",
                    url: "/Order/GetConfirmedProducts/",
                    data: "",
                    dataType: 'json'
                }
            },
            shadows: {
                enabled: true
            },
            series: [
                {
                    type: 'pie',
                    labels: {
                        stringFormat: '%.1f%%',
                        valueType: 'percentage',
                        font: '15px sans-serif',
                        fillStyle: 'white'
                    },
                    explodedRadius: 10,
                    dataLabelsField: 'name',
                    dataValuesField: 'count',
                    explodedField: 'exploded'
                }
            ]
        });
        $('#categories-chart').jqChart({
            title: { text: 'Count of Products' },
            legend: { title: 'Categories' },
            dataSource: {
                ajax: {
                    type: "GET",
                    url: "/Category/CategoryWithCountOfProducts/",
                    data: "",
                    dataType: 'json'
                }
            },
            shadows: {
                enabled: true
            },
            series: [
                {
                    type: 'pie',
                    labels: {
                        stringFormat: '%.1f%%',
                        valueType: 'percentage',
                        font: '15px sans-serif',
                        fillStyle: 'white'
                    },
                    explodedRadius: 10,
                    dataLabelsField: 'name',
                    dataValuesField: 'count',
                    explodedField: 'exploded'
                }
            ]
        });
    });
</script>
