<!-- <div class="ui container">
  <div class="ui buttons">
    <a class="ui positive button" routerLink="new">Create new</a>
  </div>
  <table class="ui celled stripped table">
    <thead>
      <tr>
        <th>Name</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let c of categories">
        <td>{{c.name}}</td>
        <td class="center aligned two wide">
          <div class="ui small basic icon buttons">
            <a class="ui button" routerLink="{{c.categoryId}}"><i class="pencil alternate icon"></i></a>
            <button class="ui button" (click)="delete(c)"><i class="trash icon"></i></button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div> -->
<div class="ui container">
  <div class="mat-elevation-z8">
    <!-- <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field> -->
    <!-- <table mat-table [dataSource]="dataSource" matSort> -->
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let category"> {{category.name}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
    </table>
    <div class="spinner-container" *ngIf="dataSource.loading$ | async">
        <mat-spinner></mat-spinner>
      </div>
    <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator> -->
  </div>
</div>