<a class="hoverable" mat-icon-button matTooltip="Order info" (click)="info(order)">
    <mat-icon>info</mat-icon>
</a>
<button *ngIf="order.deliveryMethodName === 'Pickup'" class="hoverable" mat-icon-button matTooltip="Complete" (click)="nextState(order)">
    <mat-icon>assignment_turned_in</mat-icon>
</button>
<button *ngIf="order.deliveryMethodName === 'Courier'" class="hoverable" mat-icon-button matTooltip="Deliver" (click)="nextState(order)">
    <mat-icon>local_shipping</mat-icon>
</button>