<div class="ui container">
  <form class="form" *ngIf="myForm && username" [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="input-full-width">
      <mat-label>Old password</mat-label>
      <input matInput [formControl]="oldPassword" placeholder="Provide old password" [type]="hide ? 'password' : 'text'" required>
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      <mat-error *ngIf="oldPassword.errors?.required">This field is required</mat-error>
    </mat-form-field>

    <mat-form-field class="input-full-width">
      <mat-label>New password</mat-label>
      <input matInput [formControl]="newPassword" placeholder="Provide new password" [type]="hide ? 'password' : 'text'" required>
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      <mat-error *ngIf="newPassword.errors?.required">This field is required</mat-error>
    </mat-form-field>

    <mat-form-field class="input-full-width">
      <mat-label>Confirm password</mat-label>
      <input matInput [formControl]="confirmPassword" placeholder="Confirm password" [type]="hide ? 'password' : 'text'" equal="newPassword" required>
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      <mat-error *ngIf="confirmPassword.errors?.required">This field is required</mat-error>
      <mat-error *ngIf="confirmPassword.errors?.equal">Passwords don't match</mat-error>
    </mat-form-field>

    <button type="submit" mat-flat-button [disabled]="!myForm.valid" color="primary">Submit</button>
    <a mat-flat-button color="basic" routerLink="/profile">Back</a>
  </form>
</div>