<form class="form" *ngIf="myForm" [formGroup]="myForm" (ngSubmit)="onSubmit(myForm.value)">
  <mat-form-field class="input-full-width">
    <mat-label>Product name</mat-label>
    <input matInput [formControl]="name" maxlength="50" placeholder="Provide product name" required>
    <mat-hint align="end">{{name.value.length}} / 50</mat-hint>
    <mat-error *ngIf="name.errors?.required">This field is required</mat-error>
    <mat-error *ngIf="name.errors?.minlength">Minimum 4 characters</mat-error>
  </mat-form-field>

  <mat-form-field class="input-full-width">
    <mat-label>Product price</mat-label>
    <input matInput [formControl]="price" type="number" min="0.01" step="0.01" placeholder="Provide product price"
      required>
    <span matSuffix>$&nbsp;</span>
    <mat-error *ngIf="price.errors?.required">This field is required</mat-error>
    <mat-error *ngIf="price.errors?.min">Minimum valid price is 0.01</mat-error>
  </mat-form-field>

  <mat-form-field class="input-full-width">
    <mat-label>Product count</mat-label>
    <input matInput [formControl]="count" type="number" min="1" step="1" placeholder="Provide product count" required>
    <mat-error *ngIf="count.errors?.required">This field is required</mat-error>
    <mat-error *ngIf="count.errors?.min">Minimum valid count is 1</mat-error>
  </mat-form-field>

  <mat-form-field class="input-full-width">
    <mat-label>Product description</mat-label>
    <textarea matInput [formControl]="description" maxlength="500" placeholder="Provide product description"></textarea>
    <mat-hint align="end">{{description.value.length}} / 500</mat-hint>
    <mat-error *ngIf="description.errors?.required">This field is required</mat-error>
    <mat-error *ngIf="description.errors?.minlength">Minimum 20 characters</mat-error>
  </mat-form-field>

  <app-category-chips *ngIf="existCategories && categories" [chipsCtrl]="categories" [categories]="product.categories"
    [existCategories]="existCategories"></app-category-chips>

  <button type="submit" mat-flat-button [disabled]="!myForm.valid" color="primary">Submit</button>
  <a mat-flat-button color="basic" routerLink="/products">Back</a>
</form>