<div class="ui fixed inverted menu">
  <div class="ui container">
    <a routerLink="/spa" class="header item">
      EShop
    </a>
    <a routerLink="spa/products" routerLinkActive="active" class="item">Products</a>
    <a routerLink="spa/categories" routerLinkActive="active" class="item">Categories</a>
    <a routerLink="spa/orders" routerLinkActive="active" class="item">Orders</a>
    <a routerLink="spa/dashboard" routerLinkActive="active" class="item">Dashboard</a>
    <a routerLink="spa/catalog" routerLinkActive="active" class="item">Catalog</a>
  </div>
</div>