<form class="form" #poForm="ngForm" (ngSubmit)="onSubmit(poForm.value)" ngNativeValidate>
  <input type="hidden" name="orderId" [ngModel]="orderId">
  <input type="hidden" name="productId" [ngModel]="product.productId">
  <mat-form-field class="input-full-width">
    <mat-label>Product name</mat-label>
    <input matInput name="name" [ngModel]="product.name" disabled>
  </mat-form-field>
  <mat-form-field class="input-full-width">
    <mat-label>Product price</mat-label>
    <input matInput name="price" [ngModel]="product.price" disabled>
  </mat-form-field>
  <mat-form-field class="input-full-width">
    <mat-label>Product count</mat-label>
    <input matInput name="count" [ngModel]="product.count" disabled>
  </mat-form-field>
  <mat-form-field class="input-full-width">
    <mat-label>orderCount</mat-label>
    <input matInput name="orderCount" type="number" min="1" [max]="product.count" step="1" [(ngModel)]="orderCount" required>
  </mat-form-field>

  <button type="submit" mat-flat-button [disabled]="poForm.invalid" color="primary">Submit</button>
  <a mat-flat-button color="basic" routerLink="/orders/{{orderId}}">Back</a>
</form>