<div *ngIf="profile" class="ui container">
  <h1 class="ui header">Profile</h1>
  <div class="ui divider"></div>

  <div>
  <mat-list>
    <mat-list-item>First name: {{profile.given_name}}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Last name: {{profile.family_name}}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Username: {{profile.preferred_username}}</mat-list-item>
  </mat-list>

  <a mat-raised-button routerLink color="warn" routerLink="password">Change Password</a>

</div>
</div>


