table {
    width: 100%;
}
  
tr.mat-footer-row {
    font-weight: bold;
}

.actions {
    float: right; 
    display: inline-flex;
}

.hoverable:hover { 
    color: rgb(89, 93, 88);
}

.input-full-width {
    max-width: 80px;
}