<div class="ui grid">
    <div class="one column centered row pie-row">
        <div class="seven wide column">
            <h2 class="ui center aligned header">Existing Product</h2>
            <app-category-chart [data]="categoryChartData"></app-category-chart>
        </div>
    </div>
    <div class="one column centred row line-row">
        <div class="sixteen wide column">
            <h2 class="ui center aligned header">Orders by state</h2>
            <app-order-line-chart *ngIf="orderLineChartData" [data]="orderLineChartData"></app-order-line-chart>
        </div>
    </div>
</div>