.container {
    display: flex;
    flex-direction: row;
    padding-left: 10%;
    padding-right:  10%;
}

.product-container {
    display: flex;
    align-items: stretch;
    flex: 3;
}

.tree-container {
    flex: 1;
}