<div class="ui container">
    <h3 class="ui header">Create Product order</h3>
    <mat-form-field>
    <mat-select [(ngModel)]="product">
        <mat-option *ngFor="let p of products" [value]="p">
            {{p.name}} 
        </mat-option>
      </mat-select>
    </mat-form-field>
    <!-- <div class="ui form">
        <div class="field">
            <label for="product">Product:</label>
            <select class="ui dropdown" id="product" name="product" [(ngModel)]="product">
                <option *ngFor="let p of products" [ngValue]="p">{{p.name}}</option>
            </select>
        </div>
    </div> -->
    <br>
    <app-product-order-form *ngIf="product" [orderId]="orderId" [oldOrderCount]="orderCount" [product]="product" (onFormSubmit)="onSubmit($event)"></app-product-order-form>
</div>