<div class="ui container">
    <div class="ui buttons">
        <a class="ui positive button" routerLink="new">Create new</a>
    </div>
    <table class="ui celled stripped table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Count</th>
            <th>Description</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let p of products">
            <td>{{p.name}}</td>
            <td>{{p.price}}</td>
            <td>{{p.count}}</td>
            <td>{{p.description}}</td>
            <td class="center aligned two wide">
                <div class="ui small basic icon buttons">
                  <a class="ui button" routerLink="{{p.productId}}"><i class="pencil alternate icon"></i></a>
                  <button class="ui button"><i class="trash icon"></i></button>
                </div>
            </td>
          </tr>
        </tbody>
      </table>
</div>